.main {

}

.button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 2px 0px rgba(34, 60, 80, 0.1);
    width: 180px;
    height: 40px;
    background-color: #444;
    color: #cccccc;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 103%;
    transition-duration: 0.4s;
    margin: 20px;
    padding: 20px;
    &:hover {
      opacity: 0.9;
    }
  }