/* Стили для основной секции карточек */
.cards_container {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: row;
}

.side_bar {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.cards {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 10px;
}

@media (max-width: 768px) {
  .cards_container {
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }

  .side_bar {
    margin-top: 0px;
    width: 100vw;
  }

  .cards {
    width: 100vw;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0px 0px;
  }
}
