@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.home_page {
  margin: 0px;
  color: #333;
  background-color: var(--myColor);
}

.home_page_block,
.home_page_first_block {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.home_page_first_block {
  color: #fff;
  background-color: #111;
  height: 95vh;
}

#logo {
  display: flex;
  align-items: center;
}

#lorem {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 120px;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
}

#ipsum {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 35px;
  margin: 0px;
  padding: 0px;
}

.home_page_block div,
.home_page_first_block div {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_page_block > div > h1,
.home_page_first_block > div > h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

.home_page_block > div > h3 {
  font-size: 35px;
  color: #e11111;
  margin: 0;
  padding: 0;
}

.home_page_block > div > img {
  height: 75%;
}

@media (max-width: 768px) {
  .home_page_first_block {
    height: 100vh;
    /* justify-content: baseline;
    flex-direction: column;
    align-items: center; */
  }

  .home_page_block div,
  .home_page_first_block div {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
  }

  #lorem {
    font-size: 80px;
  }

  #ipsum {
    font-size: 30px;
  }
}
