/* Стили для категорий */
.categories {
    margin: 20px;
    padding: 5px 20px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 0px rgba(34, 60, 80, 0.1);
    transition-duration: 0.6s;
    font-weight: 300;
  }
  
.categories > div {
    padding-left: 10px;
    &:hover {
      transition-duration: 0.6s;
      opacity: 0.3;
      cursor: pointer;
    }
  }

@media (max-width: 768px) {
  .categories {
    margin: 10px 20px 0px 20px;
    padding: 5px 20px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 0px rgba(34, 60, 80, 0.1);
    transition-duration: 0.6s;
    font-weight: 300;
  }
}